/* helpers */

    .clear {
        clear: both;
    }

    .clean {
        background: transparent;
        border: none;
    }

    .center-float-container {
        float: right;
        position: relative;
        left: -50%;
        text-align: left;
    }

    .center-float-inside {
        position: relative;
        left: 50%;
    }

    .no-padding {
        padding: 0;
    }

    .row {
        display: flex;
        margin-left: -1px;
        margin-right: -1px;
    }

    .blur {
        filter: blur(10px);
        /*safari*/
        -webkit-filter: blur(10px);
        /*chrome*/
        filter: url(../img/blur.svg#blur);
        /*firefox*/
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
    }


/* general */

    html,
    body {
        font-family: 'Roboto', sans-serif;
        /* get Futura LT !! */
        color: #2f363b;
        -webkit-font-smoothing: antialiased;
    }

    h2 {
        margin: 50px 0;
        padding-top: 50px;
        border-top: 1px solid #CCC;
        color: #000;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        clear: both;
    }

    h3 {
        color: #333338;
        font-size: 16px;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .main-content {
        position: relative;
    }



/* header */

    #mainNav {
        background-color: #fff;
        border-bottom: none;
    }

    @media (max-width: 767px) {
        .nav > li,
        .nav > li> a {
            display: inline;
        }
    }

    .navbar {
        transition: all 1s ease-in-out;
    }

    nav.navbar-default {
        background-color: transparent;
    }

    a.navbar-brand:hover {
        color: #000;
        -webkit-transition: color 0.2s linear;
    }

    button.navbar-toggle,
    button.navbar-toggle[aria-expanded="false"] {
        position: absolute;
        right: 0;
        height: 20px;
        width: 20px;
        padding: 16px;
        border: 0;
        background: url('../img/nav-toggle.svg') no-repeat center center transparent;
        cursor: pointer;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: -moz-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    button.navbar-toggle[aria-expanded="true"] {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    button.navbar-toggle:hover,
    button.navbar-toggle:focus,
    button.navbar-toggle:active,
    button.navbar-toggle:visited {
        background-color: transparent !important;
        -webkit-transition: color 0.2s linear;
    }

    .headroom {
        height: 50px;
        padding-bottom: 20px;
    }


/* nav links */

    #nav-links{
        text-align: center;
    }

    #nav-links.nav > li {
        display: inline-block;
    }


/* intro */
    #intro {
        background-color: #2f363b;
        color: #fff;
        text-align: center;
        padding: 30px;
    }


/* projects */
    #projects {
        float: left;
    }

    #projects h3 {
        padding: 30px 30px 20px 30px;
    }

    #projects > .container {
        padding: 20px 0;
    }

    /*#projects h3 {
        color: lightslategray;
        font-size: 24px;
        position: relative;
        top: -69px;
        text-transform: uppercase;
    }*/

    #projects .project-block {
        height: 250px;
    }

    /*#projects a.project-block,
    #projects a.project-block:hover {
        text-decoration: none;
        color: #2f363b;
    }*/

    #projects .project-block .project-info {
        color: #fff;
    }

    #projects .project-block .project-info .info-wrap {
        width: 80%;
        min-width: 300px;
        font-weight: 600;
    }

    #projects .project-block .project-info h4 {
        margin-top: 30px;
        text-transform: uppercase;
        font-weight: 700;
    }

    #projects .project-block .project-info .see-more {
        display: block;
        clear: both;
        background-color: transparent;
        box-shadow: none;
        border: 2px solid rgba(255,255,255,0.5);
        width: 80%;
        margin: 15px auto;
        padding: 5px;
        position: absolute;
        bottom: 30px;
    }

    #projects .project-block.wellesley .project-image {
        background-image: url('../img/backgrounds/wellesley_background.png');
        background-color: #FE8282;
        background-position: 68% 12%;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-size: 131%;*/
        opacity: 1;
        /*transition: opacity 0.2s linear;*/
        /*-webkit-transition: all 600ms cubic-bezier(.19,1,.22,1) 0ms;
        -moz-transition: all 600ms cubic-bezier(.19,1,.22,1) 0ms;
        transition: all 600ms cubic-bezier(.19,1,.22,1) 0ms;*/
    }

    #projects .project-block.wellesley .project-info {
        background-color: #FE8282;
    }

    #projects .project-block.davis .project-image {
        background-image: url('../img/backgrounds/davis_background.png');
        background-color: #1C1135;
        background-repeat: no-repeat;
        background-position: 7% 21%;
        background-size: 120%;
    }

    #projects .project-block.davis .project-info {
        background-color: #1C1135;
    }

    #projects .project-block.cb .project-image {
        background-image: url('../img/backgrounds/cb_background.png');
        background-color: #E6A803;
        background-position: 59% 44%;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #projects .project-block.cb .project-info {
        background-color: #E6A803;
    }

    #projects .project-block.art .project-image {
        background-image: url('../img/backgrounds/art_background.png');
        background-color: #a4aaa0;
        /*background-position: 11% 44%;*/
        background-position: 111% 44%;
        background-repeat: no-repeat;
        background-size: 127%;
    }

    #projects .project-block.art .project-info {
        background-color: #a4aaa0;
    }

    #projects .project-block.albright .project-image {
        background-image: url('../img/backgrounds/albright_background.png');
        background-color: #7eabd2;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #projects .project-block.albright .project-info {
        background-color: #7eabd2;
    }

    .project-list li p {
        margin: -10px 15px 25px 15px;
    }

    .modal,
    .modal-dialog,
    .modal-content {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    .modal .modal-content {
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
        border-radius: 0;
        /*background-color: #eee;*/
    }

    .modal .modal-header {
        border-bottom: none;
    }

    .modal .modal-header button.close {
        position: absolute;
        right: 10px;
        height: 30px;
        display: block;
        width: 30px;
        padding: 16px;
        border: 0;
        background: url('../img/nav-toggle.svg') no-repeat center center transparent;
        background-size: 150%;
        cursor: pointer;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: -moz-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
    }
    .modal .modal-header button.close:hover {
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    .modal .modal-title {
        text-align: center;
        text-transform: uppercase;
    }

    .modal .modal-body img {
        max-width: 100% !important;
    }

    .modal .mockups {
        text-align: center;
    }

    .modal-body img {
        margin-bottom: 10px;
    }
    img.tablet {
        width: 60%;
    }
    img.mobile {
        width: 35%;
    }
    .caption {
        padding: 10px 20px;
        margin: 0 0 65px 0;
        /*border-left: 5px solid #1b809e;*/
        border-left: 5px solid #7ac5cd;
        border-radius: 3px;
        text-align: left;
    }
    .caption h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .caption p {

    }
    .caption p:last-child {
        margin-bottom: 0;
    }

    /*.desktop,
    .tablet,
    .mobile {
        max-height: 250px;
        margin-right: 20px;
    }*/

    /*.project-container {*/
        /*display: block;*/
        /*width: 80%;*/
        /*height: auto;*/
        /*margin: 20px auto;*/
    /*}*/

    /*.project-outline {*/
        /*border: 1px dashed #e7e7e7;*/
        /*width: 100%;*/
        /*height: auto;*/
        /*min-height: 50px;*/
        /*max-height: 400px;*/
        /*height: 400px;
        overflow: hidden;
        margin-bottom: 10px;*/
        /*padding: 25px 0;*/
        /*margin: 25px 0;*/
    /*}*/


    /*.project-outline a.project:hover {
                background: transparent;
            }*/

    /*.project-outline img {*/
        /*width: 100%;
        height: auto;*/
    /*}*/

    /*.project-outline img:hover {*/
        /*filter: blur(10px);*/
        /*safari*/
        /*-webkit-filter: blur(10px);*/
        /*chrome*/
        /*filter: url(../img/blur.svg#blur);*/
        /*firefox*/
        /*-webkit-transition: all 0.15s ease-out;*/
        /*transition: all 0.15s ease-out;*/
    /*}*/

    /*.project-info {*/
        /*display: none;*/
        /*color: #fff;*/
    /*}*/

    .project-title {
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    /*.project-roles {

    }*/

    /*.slide-img img {
        width: 100%;
        height: auto;
    }*/

    @media (max-width: 767px) {
        .project-title {
            display: block;
            padding: 10px 15px;
            /*border-bottom: 1px solid rgba(0,0,0,.05);*/
            /*color: #333338;*/
            color: #99999a;
            text-transform: uppercase;
            font-weight: 500;
        }

    }


/* about */

    #about {
        float: left;
        /*background-color: #F3F4F8;*/
        /*border-top: 1px solid #222;*/
        padding-bottom: 60px;
    }

    #about h3 {
        margin: 40px 0 20px 0;
        line-height: 30px;
    }
    @media (min-width: 768px) {
        #about h3 {
            margin: 60px 0 20px 0;
        }
    }

    #about p,
    #about ul li {
        line-height: 26px;
        max-width: 600px;
        color: #99999a;
    }

    #about a {
        color: #66666a;
        border-bottom: 1px solid coral;
    }

    #about a:hover {
        color: #22222a;
        -webkit-transition: color 0.2s linear;
    }
