/* helpers */

    .clear {
        clear: both;
    }

    .clean {
        background: transparent;
        border: none;
    }

    .center-float-container {
        float: right;
        position: relative;
        left: -50%;
        text-align: left;
    }

    .center-float-inside {
        position: relative;
        left: 50%;
    }

    .no-padding {
        padding: 0;
    }

    .slide-in {
        top: -100px;
    }

    .row {
        display: flex;
        margin-left: -1px;
        margin-right: -1px;
    }


/* general */

    html,
    body {
        font-family: 'Roboto', sans-serif;
        color: #2f363b;
        -webkit-font-smoothing: antialiased;
    }

    h2 {
        margin: 50px 0;
        padding-top: 50px;
        border-top: 1px solid #CCC;
        color: #000;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        clear: both;
    }

    h3 {
        color: #333338;
        font-size: 16px;
    }

    .main-content {
        position: relative;
    }


/* header */

    #mainNav {
        background-color: #fff;
        border-bottom: none;
    }

    .navbar {
        transition: all 1s ease-in-out
    }

    nav.navbar-default {
        background-color: transparent;
    }

    .navbar-header {}

    a.navbar-brand:hover {
        color: #000;
        -webkit-transition: color 0.2s linear;
    }

    button.navbar-toggle,
    button.navbar-toggle[aria-expanded="false"] {
        position: absolute;
        right: 0;
        height: 20px;
        width: 20px;
        padding: 16px;
        border: 0;
        background: url('../img/nav-toggle.svg') no-repeat center center transparent;
        cursor: pointer;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: -moz-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    button.navbar-toggle[aria-expanded="true"] {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    button.navbar-toggle:hover,
    button.navbar-toggle:focus,
    button.navbar-toggle:active,
    button.navbar-toggle:visited {
        background-color: transparent !important;
        -webkit-transition: color 0.2s linear;
    }

    .headroom {
        height: 100px;
        padding-bottom: 20px;
    }


/* nav links */

    #nav-links{
        text-align: center;
    }

    #nav-links.nav > li {
        display: inline-block;
    }


/* projects */
    #projects {
        float: left;
        padding-bottom: 40px;
    }

    #projects > .container {
        /*background-color: #F3F4F8;*/
        /*background-color: aliceblue;*/
        /*background-color: #1e1f22;*/
        /*background-color: lightslategray;*/
        padding: 20px 0;
    }

    #projects h3 {
        color: lightslategray;
        font-size: 24px;
        position: relative;
        top: -69px;
        text-transform: uppercase;
    }

    #projects .project-block {
        height: 250px;
        margin-bottom: 30px;
    }

    #projects a.project-block ,
    #projects a.project-block:hover {
        text-decoration: none;
        color: #2f363b;
    }

    #projects .project-block .project-info {
        color: #fff;
    }

    #projects .project-block .project-info .see-more {
        display: block;
        clear: both;
        background-color: transparent;
        box-shadow: none;
        border: 2px solid #bbb;
        margin-top: 10px;
        width: 100%;
        padding: 5px;
    }

    #projects .project-block.wellesley .project-image {
        background-image: url('../img/backgrounds/wellesley_background.png');
        /*background-color: lightslategray;*/
        background-position: 68% 12%;
        background-repeat: no-repeat;
        /*background-size: cover;*/
        background-size: 131%;
        opacity: 1;
        /*transition: opacity 0.2s linear;*/
        /*-webkit-transition: all 600ms cubic-bezier(.19,1,.22,1) 0ms;
        -moz-transition: all 600ms cubic-bezier(.19,1,.22,1) 0ms;
        transition: all 600ms cubic-bezier(.19,1,.22,1) 0ms;*/
    }
    #projects .project-block.wellesley .project-info {
        background-color: #FE8282;
    }

    #projects .project-block.davis .project-image {
        background-image: url('../img/backgrounds/davis_background.png');
        /*background-color: lightslategray;*/
        background-repeat: no-repeat;
        background-position: 7% 21%;
        background-size: 116%;
    }
    #projects .project-block.davis .project-info {
        background-color: #1C1135;
    }

    #projects .project-block.cb .project-image {
        background-image: url('../img/backgrounds/cb_background.png');
        /*background-color: #E6A803;*/
        background-position: 59% 44%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #projects .project-block.davis .project-info {
        background-color: #E6A803;
    }

    #projects .project-block .project-image img {
        width: 100%;
        height: auto;
    }

    .desktop {
        width: 50%;
    }
    .tablet {
        width: 20%;
    }
    .mobile {
        width: 14%;
    }

    .desktop,
    .tablet,
    .mobile {
        max-height: 250px;
        margin-right: 20px;
    }

    .project-container {
        /*display: block;*/
        /*width: 80%;*/
        height: auto;
        margin: 20px auto;
    }

    .project-outline {
        /*border: 1px dashed #e7e7e7;*/
        /*width: 100%;*/
        /*height: auto;*/
        /*min-height: 50px;*/
        /*max-height: 400px;*/
        /*height: 400px;
        overflow: hidden;
        margin-bottom: 10px;*/
        padding: 25px 0;
        margin: 25px 0;
    }


    /*.project-outline a.project:hover {
                background: transparent;
            }*/

    .project-outline img {
        /*width: 100%;
        height: auto;*/
    }

    .project-outline img:hover {
        /*filter: blur(10px);*/
        /*safari*/
        /*-webkit-filter: blur(10px);*/
        /*chrome*/
        /*filter: url(../img/blur.svg#blur);*/
        /*firefox*/
        /*-webkit-transition: all 0.15s ease-out;*/
        /*transition: all 0.15s ease-out;*/
    }

    .project-info {
        /*display: none;*/
        /*color: #fff;*/
    }

    .project-title {
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .project-roles {

    }

    .slide-img img {
        width: 100%;
        height: auto;
    }


/* about */

    #about {
        float: left;
        background-color: #F3F4F8;
        /*border-top: 1px solid #222;*/

    }

    #about h3 {
        margin: 60px 0 30px 0;
        line-height: 30px;
    }

    #about p {
        line-height: 26px;
        max-width: 600px;
        color: #99999a;
    }

    #about a {
        color: #66666a;
    }

    #about a:hover {
        color: #22222a;
        -webkit-transition: color 0.2s linear;
    }
