/* helpers */

    .clear {
        clear: both;
    }

    .clean {
        background: transparent;
        border: none;
    }

    .center-float-container {
        float: right;
        position: relative;
        left: -50%;
        text-align: left;
    }

    .center-float-inside {
        position: relative;
        left: 50%;
    }

    .no-padding {
        padding: 0;
    }


/* general */

    html,
    body {
        font-family: 'Roboto', sans-serif;
    }

    h3 {
        color: #333338;
        font-size: 16px;
    }


/* header */

    #mainNav {
        background-color: #fff;
    }

    nav.navbar-default {
        background-color: transparent;
    }

    .navbar-header {}

    a.navbar-brand:hover {
        color: #000;
    }

    button.navbar-toggle,
    button.navbar-toggle[aria-expanded="false"] {
        position: absolute;
        right: 0;
        height: 20px;
        width: 20px;
        padding: 16px;
        border: 0;
        background: url('../img/nav-toggle.svg') no-repeat center center transparent;
        cursor: pointer;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: -moz-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    button.navbar-toggle[aria-expanded="true"] {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    button.navbar-toggle:hover,
    button.navbar-toggle:focus,
    button.navbar-toggle:active,
    button.navbar-toggle:visited {
        background-color: transparent !important;
    }

    .headroom {
        height: 100px;
        padding-bottom: 20px;
    }


/* mobile nav */

    #mobile-nav {
        text-align: center;
    }

    #mobile-nav .nav > li {
        display: inline-block;
    }


/* projects */

    .project-container {
        /*display: block;*/
        /*width: 80%;*/
        height: auto;
        margin: 20px auto;
    }

    .project-outline {
        /*border: 1px dashed #e7e7e7;*/
        /*width: 100%;*/
        /*height: auto;*/
        /*min-height: 50px;*/
        /*max-height: 400px;*/
        /*height: 400px;
        overflow: hidden;
        margin-bottom: 10px;*/
    }


    /*.project-outline a.project:hover {
                background: transparent;
            }*/

    .project-outline img {
        width: 100%;
        height: auto;
    }

    .project-outline img:hover {
        filter: blur(10px);
        /*safari*/
        -webkit-filter: blur(10px);
        /*chrome*/
        filter: url(../img/blur.svg#blur);
        /*firefox*/
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
    }

    .project-info {
        display: none;
    }

    .project-title {
        text-transform: uppercase;
    }

    .project-roles {

    }

    .slide-img img {
        width: 100%;
        height: auto;
    }


/* about */

    #about {
        background-color: #F3F4F8;
    }

    #about h3 {
        margin: 60px 0 30px 0;
        line-height: 30px;
    }

    #about p {
        line-height: 26px;
        max-width: 600px;
        color: #99999a;
    }

    #about a {
        color: #66666a;
    }

    #about a:hover {
        color: #22222a;
    }
